{% extends "mavier/base.html" %}

{% block content %}
    <div style="background-color: rgb(240, 152, 125); margin-left: 3.875%; margin-right: 3.875%;">
        <div class="content-section" style="margin-left: 15.5%; margin-right: 15.5%;">
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4"> <h1 style="font-family: 'Montserrat', sans-serif; color:cornflowerblue;"> Join Today</h1> </legend>
                        <br>
                        {{ form.as_p }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Sign Up</button>
                    </div>
                </form>
                <div class="border-top pt-3">
                    <small class="text-muted">
                        Already have an account? <a href="{% url 'login' %}" class="ml-2">Sign In</a>
                    </small>
                </div>
            </div>    
        </div>
    </div>
{% endblock content %}