{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

        body{
            margin-top: 0rem;
            background-color: rgb(194, 48, 84);
        }

        .bg-steel{
            background-color: rgb(194, 48, 84);
        }

        .flex-container {
        display: flex;
        background-color: DodgerBlue;
        }

        .flex-container > div {
        background-color: #f1f1f1;
        margin: 10px;
        padding: 20px;
        font-size: 30px;
        }
            
    </style>


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    
    
    <link rel="stylesheet" type="text/css" href="{% static 'mavier/main.css' %}" >

    <title>Mavier</title>

    <script type="text/javascript">
    // the following two functions allows us to remember scroll position upon page refresh or pack back and forth
        function refreshPage () {
            var page_y = document.getElementsByTagName("body")[0].scrollTop;
            window.location.href = window.location.href.split('?')[0] + '?page_y=' + page_y;
        }
        window.onload = function () {
            setTimeout(refreshPage, 35000);
            if ( window.location.href.indexOf('page_y') != -1 ) {
                var match = window.location.href.split('?')[1].split("&")[0].split("=");
                document.getElementsByTagName("body")[0].scrollTop = match[1];
            }
        }
        function auto_form_submit() {
            document.forms['like_form'].submit();
            document.forms['like_sharedpost_form'].submit();
        }
    </script>
</head>
<body id="bg" style="background-image: url('{% static "mavier/Backgrounds/Background6.png" %}');" onload="auto_form_submit()" >
    <header class="site-header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              
                {% if user.is_authenticated %}
                    <a class="navbar-brand" href="{% url 'app-home' %}">
                        <img src="{% static 'mavier/Logo_Golden.png' %}" alt="" width="30" height="30" class="d-inline-block align-top">
                        Mavier
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'app-home' %}">Home</a>
                    </li>
                    
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Users
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'my-followers' %}">My Followers</a></li>
                        <li><a class="dropdown-item" href="{% url 'my-following' %}">My Following</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'app-users' %}">All Users</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'app-notifications' %}">Notifications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        About Mavier
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Github Repo</a></li>
                        <li><a class="dropdown-item" href="#">Disclaimer</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">About Author</a></li>
                        </ul>
                    </li>
                    </ul>
                        
                    <form class="d-flex">
                        <a href="{% url 'logout' %}">
                            <button class="btn btn-outline-success me-2" type="button"> Logout </button>
                        </a>
                    </form>
                {% else %} 
                    <a class="navbar-brand" href="{% url 'app-index' %}">
                        <img src="{% static 'mavier/Logo_Golden.png' %}" alt="" width="30" height="30" class="d-inline-block align-top">
                        Mavier
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'app-index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        About Mavier
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Github Repo</a></li>
                        <li><a class="dropdown-item" href="#">Disclaimer</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">About Author</a></li>
                        </ul>
                    </li>
                    </ul>
    
                    <form class="d-flex">
                        <a href="{% url 'login' %}">
                            <button class="btn btn-outline-primary me-2" type="button"> Login </button>
                        </a>
                        <a href="{% url 'register' %}">
                            <button class="btn btn-outline-success me-2" type="button">Register</button>
                        </a>
                    </form>
                {% endif %}
              </div>
            </div>
          </nav>  
    </header>

    <main role="main" class="container">
        <div class="row">
            <div class="=col-md-8">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{message.tags}}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% block content %} {% endblock %}
            </div>
        </div>
    </main>     

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>
</html>