<!-- contains all the shared posts of the user's post -->

{% extends "mavier/base.html" %}

{% block content %}
    <br>

    <a href="{% url 'post-create' %}">
        <button type="button" class="btn btn-danger btn-lg" style="margin-left: 15.5%; margin-right: 15.5%;">Create New Post </button>
    </a>

    <br>
    <br>

    <div class="btn-group" role="group" aria-label="Button group with nested dropdown" style="width:69%; margin-left: 15.5%; margin-right: 15.5%; padding: 10px 5px; font-family: 'Montserrat Alternates', sans-serif;">
        <a href="{% url 'app-home' %}">
            <button type="button" class="btn btn-primary" style="background-color: rgb(57, 95, 95);">New Posts</button>
        </a>
        &nbsp; &nbsp;
        <a href="{% url 'app-shome' %}">
            <button type="button" class="btn btn-primary" style="background-color: rgb(112, 33, 122);">Shared Posts</button>
        </a>
        &nbsp; &nbsp;
        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            More
          </button>
          <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="background-color: rgb(200, 200, 200);">
            <li><a class="dropdown-item" href="{% url 'app-mnewhome' %}">My Posts</a></li>
            <li><a class="dropdown-item" href="{% url 'app-msharehome' %}">My Shared Posts</a></li>
          </ul>
        </div>
      </div>

    {% if counter == 0 %} 
        <br>
        <br>
        <div class="alert alert-secondary" role="alert" style="margin-left: 15.5%; margin-right: 15.5%; padding: 10px 5px; font-size: large; font-weight: bold;">
            No users have shared your post yet
        </div>    
    {% endif %}

    {% if counter != 0 %}    
        <br>
        <br>
        <div class="alert alert-success" role="alert" style="margin-left: 15.5%; margin-right: 15.5%; padding: 10px 5px; font-size: 25px; font-weight: bold; text-align: center;">
            Post Shares
        </div> 
    {% endif %}    

    {% for shared_post in shared_posts %}
        <article class="media content-section" style="margin-left: 15.5%; margin-right: 15.5%; padding: 10px 5px;">
            <img class="rounded-circle article-img" src="{{ shared_post.author.userprofile.image.url }}" alt="Pro" style="float: left;">            
            <div class="media-body" style="margin-left: 10%; padding: 10px 5px;">
                <a class="mr-2" href="#" style="color: black; text-decoration: none; font-weight: bold; font-family: 'Ubuntu', sans-serif;"> {{ shared_post.author }} </a>
                <small style="color: rgb(181, 184, 9); text-decoration: none; font-weight: bold; font-family: 'Ubuntu', sans-serif;"> {{ shared_post.date_posted }} </small>
                <hr style="width:100%; height:2px; text-align:left;margin-left:0; margin-top: 0em; margin-bottom: 0.2em; color: white; padding: 0%;">
                <h2><a class="article-title" href="{% url 'app-sharedpost-detail' shared_post.id %}">{{ shared_post.title }}</a></h2>
                <p class="article-content"> {{ shared_post.content }} </p>
        
                
                {% if shared_post.temp_like_flag == 0 %}
                    <a href="{% url 'sharedpost-like' shared_post.id %}">
                        <button type="button" class="btn btn-warning btn-sm" style="font-size: 80%; font-weight: bold; width: 20%; padding: 0%;">Like <span class="badge bg-primary rounded-pill">{{ shared_post.like_counter }}</span> </button>
                    </a>
                {% else %}    
                    <a href="{% url 'sharedpost-like' shared_post.id %}">
                        <button type="button" class="btn btn-success btn-sm" style="font-size: 80%; font-weight: bold; width: 20%; padding: 0%;">Unlike <span class="badge bg-danger rounded-pill">{{ shared_post.like_counter }}</span> </button>
                    </a>
                {% endif %}
                &nbsp;
                <a href="{% url 'app-sharedpost-detail' shared_post.id %}">
                    <button type="button" class="btn btn-warning btn-sm" style="font-size: 80%; font-weight: bold; width: 35%; padding: 0%;">Comment <span class="badge bg-primary rounded-pill">{{ shared_post.comment_counter }}</span> </button>
                </a>
                &nbsp;
            </div>
            
            <br>    

            <article class="media content-section" style="background-color: rgb(84 120 113); padding: 10px 5px;">
                <img class="rounded-circle article-img" src="{{ shared_post.shared_post.author.userprofile.image.url }}" alt="Pro" style="float: left;">                
                <div class="media-body" style="margin-left: 10%;">
                    <a class="mr-2" href="#" style="color: black; text-decoration: none; font-weight: bold; font-family: 'Ubuntu', sans-serif;"> {{ shared_post.shared_post.author }} </a>
                    <small style="color: rgb(181, 184, 9); text-decoration: none; font-weight: bold; font-family: 'Ubuntu', sans-serif;"> {{ shared_post.shared_post.date_posted }} </small>
                    <hr style="width:100%; height:2px; text-align:left;margin-left:0; margin-top: 0em; margin-bottom: 0.2em; color: white; padding: 0%;">
                    <h2><a class="article-title" href="{% url 'app-post-detail' shared_post.shared_post.id %}">{{ shared_post.shared_post.title }}</a></h2>
                    <p class="article-content"> {{ shared_post.shared_post.content }} </p>
            
                    <!-- <a href="{% url 'post-like' shared_post.shared_post.id %}">
                        <button type="button" class="btn btn-warning btn-sm" style="font-size: 80%; font-weight: bold; width: 20%; padding: 0%;">Like <span class="badge bg-primary rounded-pill">{{ shared_post.shared_post.like_counter }}</span> </button>
                    </a>
                    &nbsp;
                    <a href="{% url 'app-post-detail' shared_post.shared_post.id %}">
                        <button type="button" class="btn btn-warning btn-sm" style="font-size: 80%; font-weight: bold; width: 40%; padding: 0%;">Comment <span class="badge bg-primary rounded-pill">{{ shared_post.shared_post.comment_counter }}</span> </button>
                    </a>
                    &nbsp;
                    <a href="{% url 'sharedpost-create' shared_post.shared_post.id %}">
                        <button type="button" class="btn btn-warning btn-sm" style="font-size: 80%; font-weight: bold; width: 25%; padding: 0%;">Share <span class="badge bg-primary rounded-pill">{{ shared_post.shared_post.share_counter }}</span> </button>
                    </a> -->
                </div>
            
                
            </article>
            
            <br>
        
        </article>
        
        <br>
    {% endfor %} 

    

{% endblock content %}